<div class="d-flex justify-content-center" style='margin-top: 40vh'>
    <button type="button" class="btn btn-outline-dark btn-lg bold mr-3">Login</button>
    <a type="button" href='/register' class="btn btn-outline-dark btn-lg bold ml-3">Register</a>
</div>