<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Calculators
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/calculator/compound-interest-calculator">Compound Calculator</a>
            </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Books
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/books/best-stock-market-books">Stocks</a>
                <a class="dropdown-item" href="/books/best-real-estate-investing-books">Real Estate</a>
                <a class="dropdown-item" href="/books/commodities">commodities</a>
            </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Youtubers
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/youtubers/best-finance-youtubers">Finance</a>
                <a class="dropdown-item" href="/youtubers/best-stock-market-youtubers">Stocks</a>
                <a class="dropdown-item" href="/youtubers/best-real-estate-investing-youtubers">Real Estate</a>
            </div>
        </li>

    </ul>
     </div>
</nav>